@using UniversityManagementSystemMVC.Models
@model StudentResult

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    List<Student> students = ViewBag.students;
    List<Grade> grades = ViewBag.gredes;
    string msg = ViewBag.message;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentResultResult</title>
</head>
<body>
    <div style="background: aliceblue">
        @using (Html.BeginForm())
        {
            <table width="95%" align="center" style="margin-top: 150px">
                <tr>
                    <td>
                        <fieldset>
                            <legend>
                                @Html.Label("Save Student Result", new { @style = "font-size:x-large;font-weight: bold" })
                            </legend>
                            <table style="margin-top: 30px" align="center">
                                <tr>
                                    <td>@Html.Label("Student Reg No", new { @style = "font-size:large;font-weight: bold" })</td>
                                    <td>
                                        @Html.DropDownListFor(d => d.RegistrationNo, new SelectList(students, "RegistrarionNo", "RegistrarionNo"), "-----Select Reg No-----", new { @style = "width: 173px", id = "regnoid" })<br />
                                        @Html.ValidationMessageFor(model => model.RegistrationNo, "", new { @style = "color:red" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("Name", new { @style = "font-size:large;font-weight: bold" })</td>
                                    <td>@Html.TextBoxFor(a => a.Name, new { id = "studentname", @readonly = true })</td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("Email", new { @style = "font-size:large;font-weight: bold" })</td>
                                    <td>@Html.TextBoxFor(a => a.Email, new { id = "studentEmail", @readonly = true })</td>
                                </tr>
                                <tr>
                                    <td>@Html.Label("Department", new { @style = "font-size:large;font-weight: bold" })</td>
                                    <td>@Html.TextBoxFor(a => a.DepartmentName, new { id = "departmentname", @readonly = true })</td>
                                </tr>
                                <tr>

                                    <td>@Html.Label("select Course", new { @style = "font-size:large;font-weight: bold" })</td>
                                    <td>
                                        @Html.DropDownListFor(d => d.CourseId, new SelectList(string.Empty, "CourseId", "CourseCode"), new { @style = "width: 173px", id = "courseId" })<br />
                                        @Html.ValidationMessageFor(model => model.CourseId, "", new { @style = "color:red" })
                                    </td>
                                </tr>
                                <tr>
                                <td>
                                    @Html.Label("Mid Num", new { @style = "font-size:large;font-weight: bold" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.MidNum)<br />
                                    @Html.ValidationMessageFor(model => model.MidNum, "", new { @style = "color:red" })
                                </td>
                                </tr>

                <tr>
                    <td>@Html.Label("Select Grade Letter", new { @style = "font-size:large;font-weight: bold" })</td>
                    <td>
                        @Html.DropDownListFor(c => c.Grade, new SelectList(grades, "Grades", "Grades"), "----Select----", new { @style = "width: 173px", id = "GradeLatterId" })<br />
                        @Html.ValidationMessageFor(model => model.Grade, "", new { @style = "color:red" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <input type="button" value="Home" onclick="window.location.href = '@Url.Action("Home", "Home")'" />
                        <input type="submit" value="Save" id="button" />
                    </td>
                </tr>
            </table>
                            @msg
                        </fieldset>
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script>
    $(document)
        .ready(function() {
            $("#regnoid").change(function() {
                var thrid = $("#regnoid").val();
                $("#courseId").empty();
                            var json = {
                                RegNo: thrid
                            };
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("GetStudentInfoByRegNo", "Student")',
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(json),
                                success: function(data) {
                                    $("#studentname").val(data.Name);
                                    $("#studentEmail").val(data.Email);
                                    $("#departmentname").val(data.DepartmentName);
                                }
                            });

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEnrollCourseByRegNoTrue", "Student")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //$("#courseId").append('<option>' + "----Select Course----" + '</option>');
                        $.each(data,function (key, value) {
                                //alert(key);
                                $("#courseId")
                                    .append('<option value=' + value.CourseId + '>' + value.CourseCode + '</option>');
                            });
                    }
                });

                        });
                });


</script>
</body>
</html>
